.tituloC {
	font-family: 'Lobster', cursive;
	font-size: 40px;
	margin: 50px;
	color: black;
}

#candidatxs {
	font-family: 'Amatic SC', cursive;
	color: black;
	font-size: 35px;
	font-style: bold;
	width: 95%;
	height: 200px;
	border: 50px;
	margin: 50px;
	padding: 100px;
}
