.parrafo {
	font-family:'Amatic SC', cursive;
	color: black;
	font-size: 80px;
	padding: 20px;
	
}

h1 {
	font-family: 'Lobster', cursive;
	font-size: 40px;
	color: black;
}

.fotos{
	padding: 20px;
} 
